@{
    ViewData["Title"] = "Character";
}
@model Barbarians.ViewModels.Character.CharacterViewModel;
@using Barbarians.Data.GlobalEnums;

    <div class="table table-dark">
        <div class="row" style="">
            <div class="col-sm" style="text-align:center">
                @Model.Username
            </div>
        </div>
        <div class="row" style="">
            <div class="col-sm" style="text-align:center">
                Health: @Model.Health
            </div>
            <div class="col-sm" style="text-align:center">
                Coins: @Model.Materials.FirstOrDefault(x => x.Name == "Coins").Count
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm" style="text-align:center">
                Character rescources
            </div>
        </div>
        <div class="row">
            @{
                var materialType = Model.Materials.Select(x => x.Type).Distinct();
                @foreach (var type in materialType)
                {
                    if (type.ToString() != "Currency")
                    {
                        <div class="col-sm" style="text-align:center">
                            <div>@type.ToString()s:</div>
                            @foreach (var material in Model.Materials.Where(x => x.Type == type).OrderBy(x => x.Tier))
                            {
                                <div>@material.Name : @material.Count</div>
                            }
                        </div>
                    }
                }
            }
        </div>

        <hr />

        <div class="row">
            <div class="col-sm" style="text-align:center">
                Armors
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="text-align:center">
                Chest armors:
                @foreach (var armor in Model.Armors.Where(x => x.IsBroken == false).Where(x => x.Type == ArmorTypes.Chest).OrderByDescending(x => x.Defence))
                {
                    <div>@armor.Name - @armor.Defence DEF</div>
                }
            </div>
            <div class="col-sm" style="text-align:center">
                Leggings:
                @foreach (var armor in Model.Armors.Where(x => x.IsBroken == false).Where(x => x.Type == ArmorTypes.Leggings).OrderByDescending(x => x.Defence))
                {
                    <div>@armor.Name - @armor.Defence DEF</div>
                }
            </div>
            <div class="col-sm" style="text-align:center">
                Boots:
                @foreach (var armor in Model.Armors.Where(x => x.IsBroken == false).Where( x => x.Type == ArmorTypes.Boots).OrderByDescending(x => x.Defence))
                {
                    <div>@armor.Name - @armor.Defence DEF</div>
                }
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm" style="text-align:center">
                Weapons
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="text-align:center">
                @foreach (var weapon in Model.Weapons.Where(x => x.IsBroken == false).OrderByDescending(x => x.Damage))
                {
                    <div>@weapon.Name - @weapon.Damage DMG</div>
                }
            </div>
        </div>
    </div>


